* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(33,37,41);
}


/* Navigation */
.bg-navMain {
  background-color: #4D5656;
}

.navbar {
  font-family: 'Poppins', sans-serif;
  border-bottom: 3px solid #D5D8DC;
}

.nav-logo {
  font-family: 'Impact', sans-serif;
  font-size: 1.75rem;
}

.nav-logo span {
  color: red;
}


/* Main Components */
.container {
  padding-bottom: 680px;
}

.bg-border-color {
  border: 3px solid #f5f5f5;
}

.graphTitle{
  font-family: 'Poppins', sans-serif;
}

.stockDet{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}


/* Homepage */
.homepage {
  position: relative;
  z-index: 1;
}

.homepage-image {
  position: absolute;
  width: 60%;
  height: auto;
  z-index: 2;
}

.homeTitle {
  font-family: 'Impact', sans-serif;
  font-size: 5rem;
  letter-spacing: 2px;
  text-align: center;
  border: 3px solid white;
  border-radius: 50px;
  width: 25%;
  padding: 20px;
  position: relative;
  z-index: 3;
}

.homeTitle p {
  margin-bottom: 0;
}

.homeTitle span {
  color: red;
}

.homeSubTitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.5rem;
  text-align: center;
}

.homeDescription {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 200px;
  padding: 20px;
  border: 1px solid white;
}