.bg-navMain {
  background-color: #38b262;
}

.container {
  padding-bottom: 680px;
}

.bg-border-color {
  border: 3px solid #E5E8E8;
}

.graphTitle{
  font-family: 'Poppins', sans-serif;
}

.stockDet{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

.homeTitle {
  font-family: 'Impact', sans-serif;
}

.homeTitle span {
  color: red;
}

